#Login{


/*-fx-background-color: linear-gradient(to bottom,#92FFC0,#0396FF);*/


/*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
-fx-background-color:#C393ED;
}

#Login2{
/*-fx-background-color: linear-gradient(to bottom,#32CCBC,#28C76F);*/
-fx-background-color:#abfce4;
-fx-border-width: 15;
    -fx-background-radius: 0;



}

#imguser{
-fx-background-image: url("/Img/user.png");
/*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}

#imgpass{
-fx-background-image: url("/Img/pass.png");
/*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
}
.text-field{

     -fx-background-insets: 2;
     -fx-border-color: #edebe9;
    -fx-border-width: 1.5px;
     -fx-font-size: 16px;
    -fx-border-radius: 8px;

 }
 .text-field: focused{
     -fx-background-insets: 2;
     -fx-border-color: #9EFDCA;
 -fx-border-width: 1.5px;
-fx-font-size: 16px;
 }

#btnIngresar{
-fx-background-color:#9679DA;
-fx-background-radius: 10px;
-fx-text-fill:white;
-fx-font-size: 16px;
-fx-font-weight:bold;
}
#btnSalir{
-fx-background-color:#5DC46000;
-fx-text-fill:#515AEA;
-fx-font-size: 16px;
-fx-font-weight:bold;
}
.label{
-fx-text-fill:#515AEA;
-fx-font-size: 16px;
}

#tituloForm{
-fx-text-fill: #1E1E1E;
-fx-font-size: 16px;
-fx-font-weight:bold;
-fx-letter-spacing: 10px;
}